@import "../scssVariables/variables.scss";

.HeaderBar{
    width: 100%;
    height: 150px;
    background-color: $Header_color;
    display: flex;
    flex-direction: row;
}
.SearchBar_container{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .Logo{
     min-width:100px ;
    //  background-color: red;
     text-align: center;
        
    }
    
    input{
        height: 30%;
        width: 90%;
        border: hidden;
        background-color: antiquewhite; 
        border-radius: 1em 0 0 1em ;
    }
    input[type=text]{
        padding-left: 20px !important;
        font-size: 17px;
    
    }
    input:focus{
        outline: none;
    }
    input::placeholder{
      color: rgb(84, 72, 72); 
         
    }
}
.CartContainer{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .CartICon{
        font-size: 3em;
        color: white;
        text-decoration: none;
    }
    span{
        color:azure;
        font-size: 1.5rem;
        background-color: red;
        border-radius: 20px 20px 20px 20px !important;

    }
    a{
        text-decoration: none;

    }
}
.Logo{
    text-decoration: none;
    a{
        text-decoration: none;
    }
    a:visited{
      color: beige;
    }
}

.InputBox{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.SearchBarLogo{
    font-size: 2.8em;
    background: rgb(190, 190, 88);
    border-radius: 0 0.35em 0.35em 0;
    width: 53px;
    margin-left: -5px !important;
}
.sugessions{
    position: absolute;
    width: 92%;
    height: auto;
    left: 13px;
    background-color: antiquewhite;
    top: 96px;
    z-index: 1;
    display: block;
    li{
        margin:6px  0px 7px 8px !important;
        &:hover{
            color: white;
            transform: scale(1.02);
            font-weight: bolder;
            background-color: black;
        }
    }
    a{
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
 
}
.boxwrapper{
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    width: auto;
}
.appear{
    display: none !important;
}